In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [21]:
url = 'gsearch_jobs.csv'

In [14]:
def data_wrangler(url):
    df = pd.read_csv(url,parse_dates=['date_time'])
    columns2drop = ['Unnamed: 0','commute_time','index']
    df.drop(columns=columns2drop,inplace=True)
    df['location'] = df['location'].str.strip()

    return df

In [22]:
df = data_wrangler(url)

In [23]:
(df[(df['location']=='Anywhere')&(df['date_time']>'2023-10-09')]
.sort_values(by='date_time',ascending=False)[['title','company_name','date_time']]
.head())

,title,company_name,date_time
9721,Looker Studio Data Dashboards for Wordpress We...,Upwork,2023-10-09 03:00:44.514840
9714,Google Looker Data Setup and Support,Upwork,2023-10-09 03:00:37.439714
9705,Sales Analytics & Business Intelligence Analys...,Talentify.io,2023-10-09 03:00:32.866342
9700,Data analysis using to prove hypothesis relate...,Upwork,2023-10-09 03:00:32.866342
9692,Econometric and data science career consultation,Upwork,2023-10-09 03:00:30.457801