In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
url = r'C:\Users\THE TOWER\OneDrive - ALVAREZ AUTOMOTRIZ\DS Mentoring\Data\gsearch_jobs.csv'

In [14]:
def data_wrangler(url):
    df = pd.read_csv(url,parse_dates=['date_time'])
    columns2drop = ['Unnamed: 0','commute_time','index']
    df.drop(columns=columns2drop,inplace=True)
    df['location'] = df['location'].str.strip()

    return df

In [15]:
df = data_wrangler(url)

In [16]:
df.head()

,title,company_name,location,via,description,extensions,job_id,thumbnail,posted_at,schedule_type,...,search_location,salary_pay,salary_rate,salary_avg,salary_min,salary_max,salary_hourly,salary_yearly,salary_standardized,description_tokens
0,Data Analyst,Chloeta,"Oklahoma City, OK",via ZipRecruiter,Job Summary: The Data Analyst oversees data pr...,"['21 hours ago', 'Full-time', 'Health insuranc...",eyJqb2JfdGl0bGUiOiJEYXRhIEFuYWx5c3QiLCJodGlkb2...,NaN,21 hours ago,Full-time,...,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['python', 'r']"
1,Junior Data Analyst/Scientist Role - Contract ...,Upwork,Anywhere,via Upwork,"Company\n\nThe TAC Index provides independent,...","['17 hours ago', 'Work from home', 'Contractor...",eyJqb2JfdGl0bGUiOiJKdW5pb3IgRGF0YSBBbmFseXN0L1...,NaN,17 hours ago,Contractor,...,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['r', 'matplotlib', 'matlab', 'mysql', 'postgr..."
2,Data Analyst,ATC,United States,via LinkedIn,Job Title: Entry Level Business Analyst / Prod...,"['12 hours ago', 'Full-time', 'Health insurance']",eyJqb2JfdGl0bGUiOiJEYXRhIEFuYWx5c3QiLCJodGlkb2...,https://encrypted-tbn0.gstatic.com/images?q=tb...,12 hours ago,Full-time,...,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[]
3,Data Analyst,Guidehouse,"Topeka, KS",via Nexxt,Job Family :\n\nData Science & Analysis (Digit...,"['10 hours ago', 'Full-time', 'Health insuranc...",eyJqb2JfdGl0bGUiOiJEYXRhIEFuYWx5c3QiLCJodGlkb2...,https://encrypted-tbn0.gstatic.com/images?q=tb...,10 hours ago,Full-time,...,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['python', 'tableau', 'word', 'power_bi', 'pow..."
4,Data Analyst,AnMed Health LLC,Anywhere,via LinkedIn,"AnMed is a dynamic, comprehensive health syste...","['18 hours ago', 'Work from home', 'Part-time'...",eyJqb2JfdGl0bGUiOiJEYXRhIEFuYWx5c3QiLCJodGlkb2...,NaN,18 hours ago,Part-time,...,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[]